body {
    background : #0074d9;
    color: white;
    cursor : normal;
}

p,hr {
    margin-left : 10%;
    margin-right: 10%;
}

#titleLink{
    color: white;
    text-decoration: none;
}

#faqLink{
    color: white;
}

#intro-text{
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 30px;
}

.video-container {
    overflow : hidden;
    position : relative;
    width : 80%;
    margin-left : 10%;
}

.video-container::after {
    padding-top: 56.25%;
    display : block;
    content : '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#ff-compose{
    margin-left : 10%;
    margin-bottom: 50px;
    margin-right: 10%;
}

#ff-title-root{
    color: #0074d9;
}

.ff-form{
    color : white;
    /* text-align: left !important; */
    margin-left: 0 !important;
    margin-right: 0;
}

#ff-success{
    color : white;
    text-align: left !important; 
}

.ff-partial{
    margin-left: 0 !important;
    max-width : 100% !important;
}

 #ff-compose > div button.btn.btn-primary {
    /* background-color : #0074d9 !important; */
    display : none !important;
}  

#webLink{
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 80px;
}

#webLink a{
    color: white;
    font-weight: bold;
}

#credits{
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 0.8em;
}

#dnmLink a{
    color: #ffffff;
}

.uppy-Dashboard-AddFiles-title:after{
    content:"... If you are not able to access your gallery, please use the More-Menu(three-dots) on the top right and 'Open in Chrome/Safari' or your phone browser.";
}


@media only screen and (max-width: 360px) {
    p {
        margin-left : 10%;
        margin-right: 10%;
    }
    .uppy-Dashboard-close {
        font-size: 35px;
        top: 20px !important;
        right: 30px !important;
        color: black !important;
     }
  }

@media only screen and (min-width: 600px){
    #intro-text{
        font-size: 24px;
        line-height: 36px;
    }
    #title{
        font-size: 60px;
    }
    .uppy-Dashboard-close {
        font-size: 35px;
        top: 20px !important;
        right: 30px !important;
        color: black !important;
     }
}
